body {

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: center;
}
.header h1 {
    color: #333;
}

.content {
    margin-top: 20px;
}

h1{
    color: #b92727;
}

p {
    color: #666;
}

.footer {
    text-align: center;
    margin-top: 20px;
}